main {
    background-color: brown;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-align: center;
}

form {
    color: cornsilk;
}

h1 {
    color: rgb(10, 9, 3);
}

input {
    
    width: 30%;
    height: 7%;
}
#submit {
    width: 10%;

}